<% provide(:title, "FAQ Harpobilia") %>

<h1></h1>

<p><B>How long can I expect delivery to take?</B></p>
<p>Standard delivery can take from 5 - 7 working days, please allow more time around busy periods such as Christmas/New years</p>

<p><B>How do returns work?</B></p>
<p>We only offer returns if the product is damaged upon arrival, please include a few photos of the damaged products and email them to HarpobiliaSupport@Gmail.com</p>

<p><B>Will you be stocking other beer products in future?</B></p>
<p>There is no other beer..?</p>