<% provide(:title, "Sizing of Harpobilia") %>

<h1>Sizing Chart</h1>
<p>Chest Size Inches	CM
<br>S	      36-38	        91-96</br>
<br>M	      38-40	        96-101</br>
<br>L	      40-42	        101-106</br></p>
